<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Array Handler</title>
</head>

<body>
    <div class="container">
        <h1>Is the answer correct?</h1>
        <p>Your answer is <%=  data.numbers %></p>

        <script src="./app.js"></script>
    </div>
</body>

</html>